.wmg-add-child-button {
  position: absolute;
  top: -10px;
  right: 5px;
  z-index: 1000;
}

.wmg-child-card {
  width: 300px;

  &__image {
    height: 200px;
  }
}

.wmg-select-child {
  position: relative;
  padding-bottom: 20px;
}

.wmg-intro__heading {
  margin-bottom: 5px;
}

.wmg-intro-footer {
  margin-top: 30px;
}