
.root-header {
  z-index: 1;
}

.wmg-tab-bar {
  height: auto;
}

.mdl-layout__tab-bar-container {
  height: auto;
}

.wmg-root__content {
  overflow: visible;
  max-width: 1024px;
  margin: 0 auto;
}