
.root-header {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 64px !important;

  .md-toolbar-tools {
    height: 64px !important;
    max-height: 64px !important;
  }
}

.wmg-root {
  padding-top: 10px;

  &__header-spacer {
    height: 64px;
  }
}



.wmg-root__progress {
  position: fixed;
  top: 64px;
  left: 0;
  right: 0;
  z-index: 1;
}

.wmg-tab-bar {
  height: auto;
}

.mdl-layout__tab-bar-container {
  height: auto;
}

.wmg-root__content {
  overflow: visible;
  max-width: 1024px;
  margin: 0 auto;
}