@import '../../../common/variables';

.details {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
}

.next-button {
  composes: button--main from '../../../common/buttons.scss';
  composes: button--large from '../../../common/buttons.scss';

  margin-top: 20px;
  width: 140px;

  @media screen and (min-width: $width-md-min) {
    float: right;
  }
}