@import '../../common/variables';

.content {
  margin-top: 70px;
  color: #FFFFFF;
  line-height: 1.2rem;
  text-align: center;
}

.heading {
  font-size: 2rem;
  margin-bottom: 40px;
}

.paragraph {
  margin: 15px 0;
}

.button {
  composes: button--main from '../../common/buttons.less';

  display: block;
  margin-top: 50px;
  width: 100%;
}
