@import '../../../variables.scss';

.root {
  position: relative;

  :global {
    .fly-enter {
      transform: translate(100vw, 0);
    }
    .fly-enter.fly-enter-active {
      transform: translate(0);
      transition: transform 200ms ease-in;
    }

    .fly-leave {
      transform: translate(0);
    }

    .fly-leave.fly-leave-active {
      transform: translate(-100vw, 0);
      transition: transform 200ms ease-in;
    }
  }

  &.reverse {
    :global {
      .fly-enter {
        transform: translate(-100vw, 0);
      }

      .fly-enter.fly-enter-active {
        transform: translate(0);
        transition: transform 200ms ease-in;
      }

      .fly-leave {
        transform: translate(0);
      }

      .fly-leave.fly-leave-active {
        transform: translate(100vw, 0);
      }
    }
  }
}

.question {
  position: absolute;
  width: 100%;
}

.text {
  text-align: center;
  font-size: 2rem;
  padding: 20px 0;

  @media screen and (min-width: $width-md-min) {
    padding: 60px 0 50px 0;
  }
}

.answer-button {
  composes: button--main from '../../../buttons.module.scss';

  margin: 5px;
  flex-grow: 1;
  text-transform: capitalize;

  &--current {
    background-color: lighten($colour-accent, 20%);
  }
}

.answer-wrapper {
  max-width: $width-inner;
  margin: 0 auto;
}

.answers {
  display: flex;

  &--vertical {
    flex-direction: column;
  }
}

.comments {
  margin: 40px 10px 20px 10px;
}

.next-button {
  composes: button--main from '../../../buttons.module.scss';

  margin-top: 20px;
  width: 150px;
  float: right;
}
