<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script>
        var $buoop = {vs: {i: 10, f: -4, o: -4, s: 7, c: -4}, c: 4};
        function $buo_f() {
            var e = document.createElement("script");
            e.src = "//browser-update.org/update.min.js";
            document.body.appendChild(e);
        }
        try {
            document.addEventListener("DOMContentLoaded", $buo_f, false)
        }
        catch (e) {
            window.attachEvent("onload", $buo_f)
        }
    </script>
</head>
<body>
<div id="app"></div>
</body>
</html>
