<form class="wmg-content" ng-submit="controller.add($event)">
    <h2>Add Child</h2>
    <md-input-container>
        <label>Name</label>
        <input ng-model="controller.child.name" type="text" required>
    </md-input-container>
    <md-datepicker ng-model="controller.child.dob"
                   md-max-date="controller.maxDate"
                   md-placeholder="Date of Birth"
                   required>
    </md-datepicker>
    <md-button type="submit" class="md-raised md-primary" layout-align="start end">Add</md-button>
</form>