.mdl-textfield__input[type=date] {
  color: transparent;
}

.is-focused, .is-dirty {
  .mdl-textfield__input[type=date] {
    color: inherit;
  }
}

.wmg-add-child__loader {
  display: inline-block;
}

.wmg-add-child__button {
  height: 50px;
}

.wmg-enter-details {
  margin-top: 20px;
}