@import "../../../variables.scss";

.details {
  // text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  max-width: $width-inner;
  width: 100%;
  margin: 0 auto;
}

:global {
  .react-datepicker {
    font-size: 1.2em;
  }
}

.next-button {
  composes: button--main from "../../../buttons.module.scss";
  composes: button--large from "../../../buttons.module.scss";

  margin-top: 20px;
  width: 140px;

  @media screen and (min-width: $width-md-min) {
    float: right;
  }
}

.label {
  top: auto;
  bottom: 2.8rem;
}

.intro {
  padding: 1rem 0 0 0;
}

.paragraph {
  font-size: 1.3rem;
  text-align: left;
  margin: 1em 0;
}

.field-wrapper {
  margin: 0.8em 0;
}

.email-box-label.email-box-label {
  top: auto;
  bottom: 1.5em;
}

:global {
  .react-datepicker__day-name,
  .react-datepicker__day,
  .react-datepicker__time-name {
    width: 2.3rem;
  }
}

