<div class="md-toolbar-tools">
    <a ui-sref="children" class="wmg-logo"></a>

    <h2>
        <span>{{controller.getHeaderTitle()}}</span>
    </h2>
    <span flex></span>
    <md-button ng-if="controller.reportCsvHref" download="{{controller.child.name}}.csv" href="{{controller.reportCsvHref}}" class="md-icon-button" aria-label="Download in Excel Format">
        <md-tooltip md-direction="below">
            Download in Excel Format
        </md-tooltip>
        <i class="material-icons">file_download</i>
    </md-button>
    <md-button ng-if="controller.getChildId() >= 0" ui-sref="dashboard({childId: controller.getChildId()})"  class="md-icon-button" aria-label="Dashboard">
        <md-tooltip md-direction="below">
            Dashboard
        </md-tooltip>
        <i class="material-icons">dashboard</i>
    </md-button>
    <md-button ui-sref="children" class="md-icon-button" aria-label="Select Child">
        <md-tooltip md-direction="below">
            Select Child
        </md-tooltip>
        <i class="material-icons">child_care</i>
    </md-button>
</div>