<header class="mdl-layout__header mdl-color--primary">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">Select a questionaire</span>
  </div>
</header>
<main class="mdl-layout__content">
  <div class="page-content">
    <div>
      <h3>Questionaires to complete</h3>

      <div class="mdl-grid">
        <div ng-repeat="questionnaire in home.getQuestionnaires() track by $index" class="mdl-cell mdl-cell--4-col-tablet">

          <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">{{questionnaire.title}}</h2>

            </div>
            <div class="mdl-card__supporting-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Mauris sagittis pellentesque lacus eleifend lacinia...
            </div>

            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/questions">
                Fill out now
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div>
      <h3>Questionaires to complete</h3>

      <div class="mdl-grid">
        <div ng-repeat="answer_for_questionaire in home.getAnsweredQuestionaires() track by $index" class="mdl-cell mdl-cell--4-col-tablet">

          <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">
                <span>{{answer_for_questionaire.questionaire.title}}</span> - <span>{{answer_for_questionaire.age.label}}</span>
              </h2>
            </div>
            <div class="mdl-card__supporting-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Mauris sagittis pellentesque lacus eleifend lacinia...
            </div>

            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/questions">
                See answers
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</main>
