$colour-main: #FFFFFF;
$colour-accent: #1CD5AC;
$colour-accent-dark: #24B296;
$colour-text: #3F4854;
$colour-tertiary: #ECEDEE;
$colour-no-concern: $colour-accent;
$colour-concern: #eb8487;

$width-md-min: 768px;
$width-inner: 500px;
