<div flex="100" class="wmg-content" layout="row">
    <h3>Questionnaires</h3>
</div>

<section flex="100" layout="row" layout-wrap>
    <md-card class="wmg-questionnaire-card" ng-repeat="toDo in dashboard.toDos track by toDo.id">
        <md-card-content>
            <h2 class="md-title">{{toDo.title}}</h2>

            <div>{{toDo.description}}</div>
        </md-card-content>

        <div class="md-actions" layout="row" layout-align="end end">
            <md-button href="{{toDo.detail_link}}">Find out more</md-button>
            <md-button
                    ui-sref="questionnaire({questionnaireId: toDo.id, childId: dashboard.child.id})">
                Fill out now
            </md-button>
        </div>
    </md-card>
</section>
</div>

<div ng-if="dashboard.completed.length > 0" flex="100" class="wmg-content" layout="row">
    <h3>Completed Questionnaires</h3>
</div>

<section flex="100" layout="row" layout-wrap>
    <md-card ng-repeat="completed in dashboard.completed track by completed.result.id" layout="column"  class="wmg-child-card">
        <div alt="Child Image" class="md-card-image wmg-child-card__image {{completed.age.bgClass}}"></div>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{completed.questionnaire.title}} at {{completed.age.label}}</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <p>Completed on {{completed.result.completedMoment.format('D/M/YYYY')}}</p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
            <md-button ui-sref="result({childId: dashboard.child.id, answerId: completed.result.id})">See results</md-button>
        </md-card-actions>
    </md-card>
</section>