@import '../../variables.scss';

.content {
  color: #FFFFFF;
  background-color: $colour-accent;
  line-height: 1.2rem;
  text-align: center;
  padding: 10px;
  width: 100%;
  max-width: $width-inner;
  margin: 0 auto;
}

.heading {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.35;
  margin-top: 10px;
  margin-bottom: 20px;

  @media screen and (min-width: $width-md-min) {
    margin-top: 30px;
    margin-bottom: 40px;
  }
}

.paragraph {
  font-size: 1.1rem;
  margin: 15px 0;
}

.button {
  composes: button--large from '../../buttons.module.scss';

  display: block;
  width: 100%;
  max-width: 300px;
  color: $colour-text;
  background-color: $colour-main;
  margin: 30px auto 10px auto;

  @media screen and (min-width: $width-md-min) {
    margin-top: 50px;
  }

  &:hover {
    background-color: darken($colour-main, 5%);
  }
}

.link {
  color: #FFF;
  font-weight: bold;
}
