@font-face {
  font-family: Roboto;
  src: url("/static/fonts/Regular/Roboto-Regular.woff2") format("woff2"),
    url("/static/fonts/Regular/Roboto-Regular.woff") format("woff"),
    url("/static/fonts/Regular/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("/static/fonts/Regular/Roboto-Regular.woff2") format("woff2"),
    url("/static/fonts/Regular/Roboto-Regular.woff") format("woff"),
    url("/static/fonts/Regular/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("/static/fonts/Bold/Roboto-Bold.woff2") format("woff2"),
    url("/static/fonts/Bold/Roboto-Bold.woff") format("woff"),
    url("/static/fonts/Bold/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: Roboto;
  src: url("/static/fonts/Bold/Roboto-Bold.woff2") format("woff2"),
    url("/static/fonts/Bold/Roboto-Bold.woff") format("woff"),
    url("/static/fonts/Bold/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
