@import '~components/variables.scss';

.details {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 30px;
  max-width: $width-inner;
  width: 100%;
  margin: 0 auto;
}

.next-button {
  composes: button--main from '../../../buttons.scss';
  composes: button--large from '../../../buttons.scss';

  margin-top: 20px;
  width: 140px;

  @media screen and (min-width: $width-md-min) {
    float: right;
  }
}