.wmg-questionnaire {
  &__submit {
    margin: 20px auto;
    display: block;
  }
}

.wmg-question-group {
  padding: 10px;

  &--invalid {
    color: #F00;

    .md-char-counter {
      color: #000;
    }
  }

  &__answers {
    width: 100%;
  }

  &__answer {
    width: 100%;
    border: 2px solid rgb(0,150,136);
    padding: 10px;

    .md-ink-ripple {
      margin-left: 15px;
    }
  }

  &__comments-container {
    width: 100%;

    &--blank {
      .md-char-counter {
        color: #F00;
      }

      .wmg-question-group__comments {
        border-color: #F00;
      }
    }
  }
}