.wmg-questionnaire {
  &__submit {
    margin: 20px auto;
    display: block;
  }
}

.wmg-question-group {
  margin-top: 20px;
  max-width: 768px;

  &__answers {
    list-style-type: none;
  }

  &__card {
    padding-top: 10px;
  }
}