.wmg-questionnaire {
  &__submit {
    margin: 20px auto;
    display: block;
  }
}

.wmg-question-group {
  width: 600px;

  &--invalid {
    color: #F00;
  }

  &__comments-container {
    width: 100%;
  }
}