<md-dialog aria-label="Mango (Fruit)">
    <form class="wmg-content" ng-submit="addChild.add($event)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Add Child</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="addChild.cancel($event)">
                    <md-icon aria-label="Close dialog">close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:800px;max-height:810px; ">
            <div class="md-dialog-content" layout="column">
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="addChild.child.name" type="text" required>
                </md-input-container>
                <md-datepicker ng-model="addChild.child.dob" md-max-date="addChild.maxDate" md-placeholder="Date of Birth" required></md-datepicker>
                <md-button type="submit" class="md-raised md-primary" layout-align="start end" >Add</md-button>
            </div>
        </md-dialog-content>
    </form>
</md-dialog>