<md-button ui-sref="children" class="md-icon-button" aria-label="Select Child">
    <md-tooltip md-direction="below">
        Select Child
    </md-tooltip>
    <i class="material-icons">child_care</i>
</md-button>
<md-button ng-if="!controller.isLoggedIn()"
        href="{{controller.loginUrl}}"
        class="md-icon-button" aria-label="Sign In">
    <md-tooltip md-direction="below">
        Sign In
    </md-tooltip>
    <i class="material-icons">person</i>
</md-button>
<md-button ng-if="controller.isLoggedIn()"
        href="#"
        ng-click="controller.logout()"
        class="md-icon-button" aria-label="Sign Out">
    <md-tooltip md-direction="below">
        Sign Out
    </md-tooltip>
    <i class="material-icons">person_outline</i>
</md-button>