.wmg-logo {
  background: url('../../../../assets/Logo_trans.png');
  width: 139px;
  height: 51px;
  margin-right: 10px;
  background-size: 140px;
}

.login-details {
  font-size: 12px;
  vertical-align: 14px;

  &--warn {
    color: #FFF;
    font-weight: bold;
  }
}