<md-button ng-if="controller.getReportCsvHref" download="{{controller.child.name}}.csv" href="{{controller.getReportCsvHref()}}" class="md-icon-button" aria-label="Download in Excel Format">
    <md-tooltip md-direction="below">
        Download in Excel Format (doesn't work in IE/Edge)
    </md-tooltip>
    <i class="material-icons">file_download</i>
</md-button>
<md-button ng-if="controller.getChildId()" ui-sref="dashboard({childId: controller.getChildId()})"  class="md-icon-button" aria-label="Dashboard">
    <md-tooltip md-direction="below">
        Dashboard
    </md-tooltip>
    <i class="material-icons">dashboard</i>
</md-button>