.wmg-answer-row {
  background-color: #cad6b1;
}

.wmg-answer-row--red {
  background-color: #FFB6C1;
}

.wmg-answer-row--amber {
  background-color: #FFC200;
}

.wmg-red {
  color: red;
}

.wmg-amber {
  color: goldenrod;
}

.wmg-no {
  color: green;
}

.wmg-result-overview__flag {
  text-align: center;
}

.wmg-result-card__flag-container {
  text-align: center;
  width: 100px;
  border: 1px solid #CCC;
  margin: 10px;
  padding: 10px;
}