.answer-row__RED_FLAG {
  background-color: #FFB6C1;
}
.mdl-data-table tbody tr.answer-row__RED_FLAG:hover {
  background-color: #FFB6C1;
}

.answer-row__AMBER_FLAG {
  background-color: #FFC200;
}
.mdl-data-table tbody tr.answer-row__AMBER_FLAG:hover {
  background-color: #FFC200;
}