@import './variables';
@import 'less/material-icons.scss';
@import '~react-toolbox/lib/commons.scss';
@import './fonts/fonts.scss';

body {
  font-family: Roboto, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}