@import '../variables';

.header {
  background-color: $colour-main;
  height: 60px;
  width: 100%;
  display: flex;
}

.logo {
  height: 54px;
  width: 40px;
  margin: 3px;

  background-image: url('../header/logo-mobile.png');
  background-size: 40px;
  background-repeat: no-repeat;
}

.title {
  font-weight: bold;
  font-size: 1.5rem;
  color: $colour-text;
}