@import "../../variables.scss";

.root {
  background-color: #fff;
  width: 100%;
  max-width: $width-inner;
  margin: 0 auto;
  padding: 15px;
  line-height: 1;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 5px auto 15px auto;
  display: block;

  &--concern {
    fill: $colour-concern;
  }

  &--no-concern {
    fill: $colour-no-concern;
  }
}

.outcome {
  text-align: center;
  border-bottom: 2px solid #ddd;
  padding-bottom: 20px;

  &--title {
    font-size: 1.1rem;
    margin: 0;
  }

  &--subtitle {
    max-width: 80%;
    margin: 10px auto;
    font-size: 0.9rem;
    color: #888;
    line-height: 1.15rem;
  }
}

.disclaimer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.9rem;
  line-height: 1.15rem;
  color: #888;
}
