@import '../../../common/variables';

.root {
  position: relative;

  :global {
    .fly-enter {
      transform: translate(100vw, 0);
    }
    .fly-enter.fly-enter-active {
      transform: translate(0);
      transition: transform 200ms ease-in;
    }

    .fly-leave {
      transform: translate(0);
    }


    .fly-leave.fly-leave-active {
      transform: translate(-100vw, 0);
      transition: transform 200ms ease-in;
    }
  }

  &.reverse {
    :global {
      .fly-enter {
        transform: translate(-100vw, 0);
      }

      .fly-enter.fly-enter-active {
        transform: translate(0);
        transition: transform 200ms ease-in;
      }

      .fly-leave {
        transform: translate(0);
      }

      .fly-leave.fly-leave-active {
        transform: translate(100vw, 0);
      }
    }
  }
}

.question {
  position: absolute;
  width: 100%;
}

.text {
  padding: 75px 0;
  text-align: center;
  font-size: 2rem;
}

.button {
  composes: button--main from '../../../common/buttons.scss';

  margin: 5px;
  flex-grow: 1;
  text-transform: capitalize;

  &--current-answer {
    //border: 5px solid $colour-accent-dark;
    background-color: lighten($colour-accent, 20%);
  }
}

.answers {
  display: flex;
  max-width: 500px;
  margin: 0 auto;

  &--vertical {
    flex-direction: column;
  }
}