@import "../variables";

.header {
  background-color: $colour-main;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 0.5em;
}

.logo {
  height: 50px;
  width: 45px;
  margin: 3px;
  background-size: 40px;
  background-repeat: no-repeat;
}

.title {
  font-weight: bold;
  font-size: 1.3rem;
  color: $colour-text;
  flex-grow: 1;
  padding-top: 0.3rem;
  padding-left: 0.3rem;
}

.new-child {
  border: 1px solid #dddddd;
  padding: 13px 20px;
  margin-right: 5px;
  margin-left: 5px;
  color: #333333;
  font-size: 0.85rem;
  position: relative;
  text-decoration: none;

  &.active {
    display: none;
  }

  &:before {
    position: absolute;
    content: "+";
    top: 3px;
    left: 3px;
    color: #cccccc;
  }
}
