@import '~angular-material/angular-material.css';

.wmg-content {
  max-width: 930px;
}

.wmg-card {
  min-width: 0;
  width: auto;
  min-height: 0;

  .mdl-card__title {
    min-height: 200px;
    color: #fff;
    background: url('../assets/dog.png') bottom right 15% no-repeat #46B6AC;
  }
}

.wmg-dynamic-height {
  min-height: 0;
  height: auto;
}

html, body {
  overflow-y: auto !important;
  //  position: relative !important; // stops angular modals ruining the layout.
  min-height: 100%;
  top: 0 !important;
}

.md-dialog-container {
  top: 0px !important;
}

@import './fix-md-datepicker';