@import '~angular-material/angular-material.css';

.wmg-content {
  max-width: 930px;
}

.wmg-card {
  min-width: 0;
  width: auto;
  min-height: 0;

  .mdl-card__title {
    min-height: 200px;
    color: #fff;
    background: url('../assets/dog.png') bottom right 15% no-repeat #46B6AC;
  }
}

.wmg-dynamic-height {
  min-height: 0;
  height: auto;
}

html, body {
  //overflow-y: auto !important;
  min-height: 100%;
  top: 0 !important;
}

.md-dialog-container {
  top: 0px !important;
}

@mixin age-image($ageInMonths) {
  &--#{$ageInMonths}-months {
    background: url('../assets/illustrations/' + $ageInMonths + 'months.png') bottom right 15% no-repeat #FFFFFF;
    background-size: contain;
  }
}

.wmg-age-image {
  @include age-image(6);
  @include age-image(12);
  @include age-image(24);
  @include age-image(36);
  @include age-image(48);
}