

// Fixes for md datepicker in 0.11.4
.md-datepicker-calendar, .md-datepicker-input-mask-opaque {
  background: rgb(255, 255, 255);
}

.md-calendar-date.md-calendar-selected-date .md-calendar-date-selection-indicator, .md-calendar-date.md-focus.md-calendar-selected-date .md-calendar-date-selection-indicator {
  background: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  border-color: transparent;
}

.md-calendar-date-selection-indicator:hover {
  background: rgb(224, 224, 224);
}

.md-calendar-day-header {
  background: rgb(224, 224, 224);
  color: rgba(0, 0, 0, 0.87);
}

.md-calendar-date-disabled, .md-calendar-month-label-disabled {
  color: rgba(0, 0, 0, 0.26);
}